<h2>Invoice {{invoiceId}}</h2>

<mat-card>
  <ng-container *ngIf="!isLoading; else loader">

    <ng-container *ngIf="errorMsg">
      <h3 class="color-pink">{{errorMsg}}</h3>
    </ng-container>

    <ng-container *ngIf="!errorMsg">
      <div class="w-50 inline-block">
        <app-detail-value title="Number:">
          {{invoice.invoice.number}}
        </app-detail-value>

        <app-detail-value title="Client name:">
          {{invoice.client.name}}
        </app-detail-value>

        <app-detail-value title="Price:">
          {{invoice.invoice.amount | asMoney: invoice.invoice.currency}}
          <mat-icon class="color-status-{{invoice.invoice.status.status}}" [matTooltip]="invoice.invoice.status.statusTitle">{{invoice.invoice.status.statusIcon}}</mat-icon>
        </app-detail-value>

        <app-detail-value title="Type:">
          <span>{{invoice.invoice.type}}</span>
        </app-detail-value>

        <app-detail-value title="Status:">
          <mat-chip-list>
            <mat-chip class="color-{{invoice.invoice.flag}}" selected>{{invoice.invoice.flag}}</mat-chip>
          </mat-chip-list>
        </app-detail-value>
      </div>

      <div class="w-50 inline-block">
        <app-detail-value title="Shipping Address:">
          <p>{{invoice.client.deliveryAddress.name}}</p>
          <p>{{invoice.client.deliveryAddress.addressLine}}</p>
          <p>{{invoice.client.deliveryAddress.city}} ({{invoice.client.deliveryAddress.zip}})</p>
          <p>{{invoice.client.deliveryAddress.country.name}}</p>
        </app-detail-value>

        <app-detail-value title="One click send to this address:">
          <button mat-raised-button class="color-orange" (click)="registerSkPostParcel()" [disabled]="loadingSkPosta">
            <mat-icon>local_post_office</mat-icon>
            <span class="ml-5">Slovak post<mat-spinner diameter="25" class="d-inline-block ml-5" *ngIf="loadingSkPosta"></mat-spinner></span>
          </button>
          <button mat-raised-button class="color-cyan" (click)="registerPacketaParcel()" [disabled]="loadingPacketa">
            <mat-icon>local_shipping</mat-icon>
            <span class="ml-5">Courier<mat-spinner diameter="25" class="d-inline-block ml-5" *ngIf="loadingPacketa"></mat-spinner></span>
          </button>
        </app-detail-value>

        <app-detail-value title="Phone:">
          {{invoice.client.phone}}
        </app-detail-value>

        <app-detail-value title="Email:">
          {{invoice.client.email}}
        </app-detail-value>
      </div>

      <mat-table [dataSource]="invoice.items">

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef class="table-align-right small-column">Quantity</mat-header-cell>
          <mat-cell *matCellDef="let element" class="table-align-right small-column">
            <ng-container *ngIf="element.quantity">
              {{element.quantity | number: '1.2-2'}}&nbsp;×
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
          <mat-cell *matCellDef="let element" [matTooltip]="element.description" matTooltipPosition="right">{{element.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="unitPrice">
          <mat-header-cell *matHeaderCellDef class="table-align-right small-column">Price per unit</mat-header-cell>
          <mat-cell *matCellDef="let element" class="table-align-right small-column">{{element.unitPrice | asMoney: invoice.invoice.currency}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
          <mat-header-cell *matHeaderCellDef class="table-align-right small-column">Total</mat-header-cell>
          <mat-cell *matCellDef="let element" class="table-align-right small-column">{{element.totalPrice | asMoney: invoice.invoice.currency}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </ng-container>

  </ng-container>
</mat-card>

<ng-template #loader><mat-progress-bar mode="indeterminate"></mat-progress-bar></ng-template>
