.small-column {
  max-width: 6rem;
}

.inline-block {
  display: inline-block;
  min-width: 25rem;
  vertical-align: top;
}

mat-icon {
  vertical-align: middle;
}

.send-status {
  font-size: .875rem;
}
