$color-orange: #FFA726;
$color-orange-light: #FFE0B2;
$color-grey: #546E7A;
$color-grey-light: #A7C0CD;
$color-green: #7CB342;
$color-green-light: #BEF67A;
$color-brown: #795548;
$color-brown-light: #D3B8AE;
$color-purple: #AB47BC;
$color-purple-light: #FFC4FF;
$color-cyan: #00BCD4;
$color-cyan-light: #CCF2F6;
$color-pink: #EC407A;
$color-pink-light: #FFC1E3;
$color-blue: #1E88E5;
$color-blue-light: #81D4FA;

.color-orange,
.color-status-2 {
  color: $color-orange;
}
.color-pink,
.color-status-1 {
  color: $color-pink;
}
.color-blue {
  color: $color-blue;
}
.color-cyan {
  color: $color-cyan;
}
.color-status-3 {
  color: $color-green;
}


.color-cancelled {
  background-color: $color-grey !important;
}
.color-overpaid,
.color-on-hold {
  background-color: $color-blue !important;
}
.color-fully-paid {
  background-color: $color-green !important;
}
.color-processing {
  background-color: $color-orange !important;
}
//.color-overpaid {
//  background-color: $color-orange !important;
//}
