<h2>Send ({{ orders.length }}) orders</h2>

<mat-card>

  <mat-horizontal-stepper linear #stepper>

    <mat-step [completed]="successSkPosta && successPacketa">
      <ng-template matStepLabel>Register package labels</ng-template>

      <h3 class="d-flex vertical-align-items color-orange">
        <mat-icon [matBadge]="ordersSlovakPost.length">local_post_office</mat-icon><span class="ml-5">Slovak post</span>
      </h3>
      <p>
        <button mat-raised-button color="accent" [disabled]="loadingSkPosta || successSkPosta || errorSkPosta" (click)="registerSkPostParcels()">
          Register {{ordersSlovakPost.length}} parcels for Slovak Post<mat-spinner diameter="25" class="d-inline-block ml-5" *ngIf="loadingSkPosta"></mat-spinner>
        </button>
        <span class="d-inline-block ml-5 color-green" *ngIf="successSkPosta && ordersSlovakPost.length > 0">
          <span class="d-flex vertical-align-items">Successfully done<mat-icon>check</mat-icon></span></span>
        <span class="d-inline-block ml-5 color-pink" *ngIf="errorSkPosta && ordersSlovakPost.length > 0">
          <span class="d-flex vertical-align-items">Error<mat-icon>error</mat-icon></span></span>
      </p>
      <p *ngIf="skPostSheetId" class="color-green">Slovak Post SheetId: <span style="font-family: monospace; font-weight: 600">
        <a [href]="'https://mojezasielky.posta.sk/#sheets/' + skPostSheetId" target="_blank" style="color: inherit">{{skPostSheetId}}</a>
      </span></p>

      <h3 class="d-flex vertical-align-items color-cyan">
        <mat-icon [matBadge]="ordersPickUpPoints.length">location_on</mat-icon>
        <mat-icon>add</mat-icon>
        <mat-icon [matBadge]="ordersCourier.length">local_shipping</mat-icon>
        <span class="ml-5">Zásielkovňa (Pick up point + kuriér)</span>
      </h3>
      <p>
        <button mat-raised-button color="accent" [disabled]="loadingPacketa || successPacketa || packetaParcelsErrors.length > 0" (click)="registerPacketaParcels()">
          Register {{ordersCourier.length + ordersPickUpPoints.length}} parcels for Zásielkovňa<mat-spinner diameter="25" class="d-inline-block ml-5" *ngIf="loadingPacketa"></mat-spinner>
        </button>
        <span class="d-inline-block ml-5 color-green" *ngIf="!loadingPacketa && packetaParcelsNumberOfDone > 0">
          <span class="d-flex vertical-align-items">Successfully registered {{packetaParcelsNumberOfDone}} parcels<mat-icon>check</mat-icon></span></span>
        <span class="d-inline-block ml-5 color-pink" *ngIf="packetaParcelsErrors.length > 0">
          <span class="d-flex vertical-align-items">Error appeared when importing {{packetaParcelsErrored.length}} parcels<mat-icon>error</mat-icon></span></span>
      </p>
      <p class="color-pink" *ngFor="let error of packetaParcelsErrors">{{error}}</p>

      <div class="text-right">
        <button mat-raised-button matStepperNext color="primary" [disabled]="!successSkPosta || !successPacketa">Next<mat-icon class="ml-5">east</mat-icon></button>
      </div>
    </mat-step>



    <mat-step>
      <ng-template matStepLabel>Update order status to complete</ng-template>

      <h3>
        Click to finally process all <span class="color-pink orders-amount-number">{{orders.length}}</span> orders and update their status to
        <mat-chip-list class="d-inline-block"><mat-chip selected>Completed</mat-chip></mat-chip-list>:
      </h3>

      <button mat-raised-button color="accent" class="mb-5"
              (click)="updateStatusesInWpToCompleted()"
              [disabled]="statusesUpdateOngoing || statusesUpdateErrors?.length > 0 || statusesUpdateNumberOfDone == orders.length">
        Process orders<mat-spinner diameter="25" class="d-inline-block ml-5" *ngIf="statusesUpdateOngoing"></mat-spinner>
      </button>

      <p *ngIf="statusesUpdateOngoing">
        Processing {{ statusesUpdateNumberOfDone }} of {{ orders.length }}&hellip;
      </p>

      <p *ngIf="statusesUpdateNumberOfDone !== 0">
        <span class="color-green">
          <mat-icon class="mr-5">check</mat-icon>
          {{statusesUpdateNumberOfDone}} orders updated successfully! You can take them to post office.
        </span>
      </p>
      <p *ngIf="statusesUpdateErrors.length > 0">
        <span class="color-pink">
          <mat-icon class="mr-5">error</mat-icon>
          Accidentally, there were {{statusesUpdateErrors.length}} errors. Recheck those manually!
        </span>
      </p>

      <div class="text-right">
        <a mat-raised-button matStepperNext
           [routerLink]="['/order','list', 'processing']" color="primary"
           [disabled]="statusesUpdateNumberOfDone !== orders.length">Finish<mat-icon class="ml-5">check</mat-icon></a>
      </div>

    </mat-step>

  </mat-horizontal-stepper>

</mat-card>
