<h2>Order list</h2>

<mat-card>
  <ng-container *ngIf="!isLoading; else loader">
    <div *ngIf="selection.selected.length">
      <p>
        <mat-icon class="color-orange mr-6" [matBadge]="selectedPost">local_post_office</mat-icon>
        <mat-icon class="color-cyan mr-6" [matBadge]="selectedPacketa">location_on</mat-icon>
        <mat-icon class="color-cyan mr-6" [matBadge]="selectedCourier">local_shipping</mat-icon>
        <button mat-raised-button color="primary" (click)="send()">
          Ship <span style="font-weight: 600">{{selection.selected.length}}</span> order<ng-container *ngIf="selection.selected.length > 1">s</ng-container>
        </button>
      </p>
    </div>
    <mat-table [dataSource]="list" *ngIf="list?.length; else empty">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="icon-column-width">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="icon-column-width">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [ngClass]="{'row-disabled': disabledStatuses.includes(element.status)}">{{element.number}}</span>
          <mat-chip-list class="ml-5">
            <mat-chip selected class="color-{{element.status}}">{{element.status | titlecase}}</mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let element" [class.row-disabled]="disabledStatuses.includes(element.status)">{{element.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let element" [class.row-disabled]="disabledStatuses.includes(element.status)"
                  [matTooltip]="element.date.local().format('DD.MM.yyyy HH:mm')">{{element.date.fromNow()}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="shipping">
        <mat-header-cell *matHeaderCellDef class="shipping-column-width">Shipping</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngSwitch]="element.shipping.id" class="shipping-column-width">
          <mat-icon *ngSwitchCase="'4'" [matTooltip]="element.shipping.title"
                    class="{{disabledStatuses.includes(element.status) ? 'row-disabled' : 'color-orange'}}">local_post_office</mat-icon>
          <span *ngSwitchCase="'4'"
                class="ml-5 {{disabledStatuses.includes(element.status) ? 'row-disabled' : 'color-orange'}}">Pošta</span>

          <mat-icon *ngSwitchCase="'2'" [matTooltip]="element.shipping.title"
                    class="{{disabledStatuses.includes(element.status) ? 'row-disabled' : 'color-cyan'}}">location_on</mat-icon>
          <span *ngSwitchCase="'2'"
                class="ml-5 {{disabledStatuses.includes(element.status) ? 'row-disabled' : 'color-cyan'}}">Pick-up Point</span>
          <mat-icon *ngSwitchCase="'5'" [matTooltip]="element.shipping.title"
                    class="{{disabledStatuses.includes(element.status) ? 'row-disabled' : 'color-cyan'}}">location_on</mat-icon>
          <span *ngSwitchCase="'5'"
                class="ml-5 {{disabledStatuses.includes(element.status) ? 'row-disabled' : 'color-cyan'}}">Pick-up Point</span>

          <mat-icon *ngSwitchCase="'6'" [matTooltip]="element.shipping.title"
                    class="{{disabledStatuses.includes(element.status) ? 'row-disabled' : 'color-cyan'}}">local_shipping</mat-icon>
          <span *ngSwitchCase="'6'"
                class="ml-5 {{disabledStatuses.includes(element.status) ? 'row-disabled' : 'color-cyan'}}">Kuriér</span>
          <mat-icon *ngSwitchCase="'9'" [matTooltip]="element.shipping.title"
                    class="{{disabledStatuses.includes(element.status) ? 'row-disabled' : 'color-cyan'}}">local_shipping</mat-icon>
          <span *ngSwitchCase="'9'"
                class="ml-5 {{disabledStatuses.includes(element.status) ? 'row-disabled' : 'color-cyan'}}">Kuriér</span>

          <mat-icon *ngSwitchDefault [matTooltip]="element.shipping.title">error</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef class="table-align-right total-column-width">Total<mat-icon class="ml-5">attach_money</mat-icon></mat-header-cell>
        <mat-cell *matCellDef="let element" class="table-align-right total-column-width" [ngClass]="{'row-disabled': disabledStatuses.includes(element.status)}">
          {{element.total | asMoney: element.currency}}
          <mat-icon *ngIf="element.paymentMethod === 'paypal'" matTooltip="PayPal"
                    class="ml-5 {{disabledStatuses.includes(element.status) ? 'row-disabled' : 'color-blue'}}">local_parking</mat-icon>
          <mat-icon *ngIf="element.paymentMethod === 'bacs'" matTooltip="Prevodom"
                    class="ml-5" [ngClass]="{'row-disabled': disabledStatuses.includes(element.status)}">receipt_long</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="invoice">
        <mat-header-cell *matHeaderCellDef class="btn-column-width">Invoice</mat-header-cell>
        <mat-cell *matCellDef="let element" class="btn-column-width">
          <a *ngIf="element.invoiceRegular"
             mat-raised-button color="accent"
             [matTooltip]="element.invoiceRegular.number"
             [routerLink]="['/invoice','detail', element.invoiceRegular.id]"
             routerLinkActive="active">
            Faktúra
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="arrow">
        <mat-header-cell *matHeaderCellDef class="icon-column-width"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="icon-column-width">
          <mat-icon *ngIf="element.invoiceProforma && element.invoiceRegular">west</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="invoice-proforma">
        <mat-header-cell *matHeaderCellDef class="btn-column-width">Proforma</mat-header-cell>
        <mat-cell *matCellDef="let element" class="btn-column-width">
          <a *ngIf="element.invoiceProforma"
             mat-stroked-button color="accent"
             [matTooltip]="element.invoiceProforma.number"
             [routerLink]="['/invoice','detail', element.invoiceProforma.id]"
             routerLinkActive="active">
            Proforma
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </ng-container>
</mat-card>

<ng-template #loader><mat-progress-bar mode="indeterminate"></mat-progress-bar></ng-template>
<ng-template #empty>No data</ng-template>
