.small-column {
  max-width: 6rem;
}

.invoice-nr-important {
  font-weight: 500;
  font-size: 1.125rem;
}

.icon-column-width {
  max-width: 3rem;
}
.btn-column-width {
  max-width: 6rem;
}

.mat-standard-chip { // smaller chips
  height: 1.5rem !important;
  min-height: 1.5rem !important;
}
