$footer-height: 2rem;

.example-container {
  position: absolute;
  top: 4rem;
  bottom: $footer-height;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  img {
    height: 75%;
  }
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &.mat-toolbar-multiple-rows {
    min-height: $footer-height;
  }
  .mat-toolbar-row {
    height: $footer-height;
    span {
      margin: auto;
      font-weight: 200;
      font-size: .875rem;
      color: #aaa;
    }
  }
}
