<mat-toolbar class="example-header" color="primary">
  <img src="assets/logo.png" alt="">
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
               [fixedInViewport]="false" [fixedTopGap]="0"
               [fixedBottomGap]="0">
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="example-footer color-grey">
  <mat-toolbar-row><span>Copyright &copy; 2021, BioVoxel</span></mat-toolbar-row>
</mat-toolbar>
