/* You can add global styles to this file, and also import other style files */
@import "src/app/common/styles/colors";


html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.ml-5 {
  margin-left: 1rem !important;
}
.mr-5 {
  margin-right: 1rem !important;
}

h2 {
  margin: 1rem 0 1rem 1rem !important;
  font-weight: 200 !important;
  font-size: 2rem !important;
}

mat-card {
  margin: 1rem;
}

.mat-tooltip {
  white-space: pre-line;
  font-size: .875rem;
}

.table-align-right {
  display: flex;
  padding-right: 2rem;
  justify-content: flex-end;
}

.w-50 {
  width: 50%;
}
