/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.ml-5 {
  margin-left: 1rem;
}

h2 {
  margin: 1rem 0 2rem 1rem !important;
}

mat-card {
  margin: 1rem;
}
